//Grid
@import 'reset.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Fonts
//--Open Sans
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic,cyrillic-ext,latin-ext);

@mixin font-regular {
  font-family: 'Fira Mono', sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: 'Fira Mono', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}
.well {
  position: relative;
  width: 900px;
  margin: 20px auto 0 auto;
}

.addEdit-form {
  display: none;
    padding: 15px 15px 15px 15px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 600px;
    background-color: #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #b5b5b5;
    &.show {
    display: block;
  }
}

.close-wrapper {
 margin-bottom: 10px;
}
.add {
  float: right;
}

.status-box {
  width: 30px;
  height: 20px;
  border-radius: 3px;
  &.green {
    background-color: green;
  }
  &.yellow {
    background-color: yellow;
  }
  &.red {
    background-color: red;
  }
}

.login {

  width: 300px;
  height: 165px;
  &-form {
    display: block;
    width: 100%;
  }
}

